.TemperatureToggle {
  margin: 5px;
  margin-bottom: 10px;
}

.TemperatureToggle .TempUnits {
  font-size: 20px;
  position: relative;
  bottom: 37px;
  margin: 0;
}
.TemperatureToggle .Temperature {
  font-size: 70px;
  padding-left: 10px;
}

.TemperatureToggle a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}
