.SearchEngine input {
  font-weight: 200;
  font-size: 17px;
  margin: 2px;
}

.Header {
  padding-top: 10px;
  font-weight: 200;
  color: #2f2f30;
}

.Header h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  letter-spacing: 3px;
}

.Header h2 {
  font-weight: 200;
  font-size: 23px;
  margin: 0;
}

.SubHeading {
  font-weight: 200;
}

.SubHeading ul {
  list-style: none;
}
.SubHeading li {
  display: inline-block;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px 20px;
}
.SubHeading strong {
  font-weight: 400;
}

.Weather canvas {
  position: relative;
  top: 17px;
}
